DataAnalytics-L2-HousePricePrediction/demovideo/*.mp4
DataAnalytics-L2-WineQualityPrediction/demovideo/*.mp4
DataAnalytics-L2-FraudDetection/demovideo/*.mp4
DataAnalytics-L2-GooglePlayStoreAnalysis/demovideo/*.mp4
DataAnalytics-L2-GooglePlayStoreAnalysis/demovideo/*.mp4
DataAnalytics-L2-GooglePlayStoreAnalysis/demovideo/*.mp4
DataAnalytics-L2-GooglePlayStoreAnalysis/demovideo/*.mp4
DataAnalytics-L2-GooglePlayStoreAnalysis/demovideo/*.mp4
DataAnalytics-L2-Autocomplete&Correct/demovideo/*.mp4
DataAnalytics-L2-Autocomplete&Correct/demovideo/*.mp4
DataAnalytics-L2-Autocomplete&Correct/dataset/emails.csv
